.contents-back{
  height: calc(100vh - 15vh); /*ヘッダー抜いた高さ*/
  width: calc(100vw - 20vw);
}

.main-contents{
  height: 100%;
  background-color: white;
  padding: 10px 10px 0 10px;
  overflow: auto;
}

.main-title{
  font-size: 40px;
  padding-bottom: 10px;
}

.main-image{
  display: flex;
  padding-bottom: 10px;
}

.content-images {
  margin-right: 10px;
}

.content-image {
  
}

.main-text{
  font-size: 20px;
}
.contents-bottom{
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.destroy-button, .edit-button{
  height: 30px;
  width: 100px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color:aliceblue;
}

a{
  text-decoration: none;
}