.side-back{
  height: calc(100vh - 12vh);/*ヘッダー抜いた高さ*/
  width: 20vw;
  background-color: gray;
  padding: 10px;
}

.search-form{ /*検索フォーム部分最終調整時に形を決める*/

}

.category-list{
  margin: 5px 0 0 5px;
}

.category-title{
  font-size: 20px;
  color: darkslategray;
}
.title-list{
  font-size: 20px;
  margin: 0 0 0 10px;
  text-decoration: none;
  color: darkslategray;
}

.content-title{
  text-decoration: none;
  color: darkslategray;
}
