.side-back{
  height: calc(100vh - 15vh);/*ヘッダー抜いた高さ*/
  width: 20vw;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 10px;
}

.search-form{ /*検索フォーム部分最終調整時に形を決める*/

}

.category-list{
  margin-top: 5px;
}

.category-title{
  list-style: none;
  font-size: 20px;
  color: aliceblue;
}
.title-list{
  font-size: 20px;
  margin: 0 0 0 10px;
  text-decoration: none;
  color: aliceblue;
}

.content-title{
  text-decoration: none;
  color: aliceblue;
}
