<div class="contents-back">
  <div class="main-contents">
    <div class="main-title">
    ようこそSlatへ
    </div>
    <div class="main-image">
    </div>
    <div class="main-text">
    ここは自分の知識を整理する空間です。<br>
    初めての方は新規登録ボタン、既にアカウント登録されている方はログインボタンを押してください。<br>
    </div>
    
    <div class="contents-bottom">
      <div class="edit-button">
        編集
      </div>
      <div class="destroy-button">
      削除
      </div>
    </div>
  </div>

</div>