<div class="header-back">
  <div class="header-left">
    <div class="logo">Slat</div>
  </div>

  <div class="header-right">
    <div class="user-name">
    ようこそnicknameさん
    </div>
    <div class="button-1">
      ログイン
    </div>
    <div class="button-2">
    新規登録
    </div>
  </div>

</div>